[submodule "external/trezor-common"]
	path = external/trezor-common
	url = https://github.com/trezor/trezor-common.git
[submodule "external/randomx"]
	path = external/randomx
	url = https://github.com/sanderfoobar/RandomX.git
	branch = cmake-modern
[submodule "external/supercop"]
	path = external/supercop
	url = https://github.com/sanderfoobar/supercop.git
	branch = cmake-modern
